### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
/TypeScript/.vscode/*
/TypeScript/Atividade-2/todo-list/node_modules
### Node Modules ###

