body {
	font-family: Helvetica;
	font-size: 14px;
	background-color: #f8f8f8;
}
.imagem {
	padding: 80px 4% 80px 4%;
}
.pesquisa {
	padding: 20px 4% 20px 4%;
}
.ultimas {
	padding: 20px 4% 20px 4%;
}
.anteriores {
	padding-left: 4%;
    padding-right: 4%;
	border: 1px yellow solid;
}
.footer {
	bottom: 0px;
	border: 1px gray solid;
}
.col {
	border: 1px red solid;
}
.header {
	width: 100%;
}
.centered {
    margin: 0 auto !important;
    float: none !important;
}
#navbarNavAltMarkup > div {
	display: flex;
	margin-left: 23%;
    align-items: center;
}
#imagem-novidades {
	background-image: url('../images/novidades.jpg');
	padding-top: 200px;
    padding-bottom: 150px;
    width: 100%;
}
.nav-header {
    padding: 0px;
    border-bottom: 1px solid #e7e7e7;
}
#navbarNavAltMarkup > div > a {
	color: #777;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
	text-transform: uppercase;
	padding-bottom: 0px;
}
#imagem-novidades > h1 {
	text-align: center;
	font-size: 35px;
	color: #fff;
}
#logo-header {
	margin-left: 5%;
}
#navbarNavAltMarkup > div > a:not(#contratando):hover {
    color: #888!important;
    background-color: transparent;
    text-decoration: underline;
}
.header {
	position: fixed;
    z-index: 10;
}
.pesquisa > div, .pesquisa > div > input {
	width: 100%;
	border: 1px solid #ccc;
	height: 34px;
	color: #555;
	font-size: 15px;
	line-height: 1.42857143;
}
.box-imagem {
	background-image: url('../images/novidades/novidades-1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
	border-radius: 4px 4px 0px 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-bottom: 5px solid #16c5fe;
}
.twitter{
	height: 250px;
	overflow: auto;
	width: 100%;
}
.i1 {
	background-image: url('../images/novidades/novidades-1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 200px;
}
.i2 {
	background-image: url('../images/novidades/novidades-2.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 200px;
}
.i3 {
	background-image: url('../images/novidades/novidades-3.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 200px;
}
.i4 {
	background-image: url('../images/novidades/novidades-4.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 200px;
}
.ultimas h3 {
	color: #8c8c8c;
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
}
.ultimas p {
	color: #8c8c8c;
	font-size: 14px;
	line-height: 23px;
	font-weight: 600;
	margin-bottom: 22px;
	letter-spacing: -1px;
}
.p-img {
	color: #fff !important;
	font-size: 18px !important;
	padding: 12px 30px;
	width: 45%;
	background-color: #62d8fe;
	margin-bottom: 0px !important;
}
.sbm {
	margin-bottom: 0px !important;
	font-weight: 800 !important;
	font-size: 12px !important;
}
.u-floatLeft {
	float: left !important;
}
.u-floatRight {
	float: right !important;
}
.rodape-twitter {
	padding: 15px 15px 30px 15px;
	background-color: #fff;
	width: 100%;
}
.feed-twitter {
	padding-right: 0px;
    padding-left: 15px;
}
.a-noticias:hover h3, .a-noticias:hover p {
	color: #62d8fe;
	transition: 0.1s;
}
.a-noticias:link {
	text-decoration: none;
}
.noticia {
	border-bottom: 1px solid #9e9898;
	margin-bottom: 40px;
}