body {
	font-family: Helvetica;
	font-size: 14px;
}
.imagem {
	padding: 80px 4% 80px 4%;
}
.pesquisa {
	padding: 20px 4% 20px 4%;
}
.ultimas {
	padding-left: 4%;
    padding-right: 4%;
	border: 1px green solid;
}
.anteriores {
	padding-left: 4%;
    padding-right: 4%;
	border: 1px yellow solid;
}
.footer {
	bottom: 0px;
	border: 1px gray solid;
}
.col {
	border: 1px red solid;
}
.header {
	width: 100%;
}
.centered {
    margin: 0 auto !important;
    float: none !important;
}
#navbarNavAltMarkup > div {
	display: flex;
	margin-left: 23%;
    align-items: center;
}
#imagem-novidades {
	background-image: url('../images/novidades.jpg');
	padding-top: 200px;
    padding-bottom: 150px;
    width: 100%;
}
.nav-header {
    padding: 0px;
}
#navbarNavAltMarkup > div > a {
	color: #777;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
	text-transform: uppercase;
	padding-bottom: 0px;
}
#imagem-novidades > h1 {
	text-align: center;
	font-size: 35px;
	color: #fff;
}
#logo-header {
	margin-left: 5%;
}
#navbarNavAltMarkup > div > a:not(#contratando):hover {
    color: #888!important;
    background-color: transparent;
    text-decoration: underline;
}
.header {
	position: fixed;
    z-index: 10;
}
.pesquisa > div, .pesquisa > div > input {
	width: 100%;
	border: 1px solid #ccc;
	height: 34px;
	color: #555;
    font-size: 15px;
    line-height: 1.42857143;
}
.box-imagem {
	background-image: url('../images/novidades/novidades-1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	height: 300px;
}