body {
	font-family: Helvetica;
	font-size: 14px;
	background-color: #f8f8f8;
}
.imagem {
	padding: 80px 4% 80px 4%;
}
.pesquisa {
	padding: 20px 4% 20px 4%;
}
.ultimas {
	padding: 20px 4% 20px 4%;
}
.anteriores {
	padding-left: 4%;
    padding-right: 4%;
}
.footer {
	bottom: 0px;
}
.col {
	border: 1px red solid;
}
.header {
	width: 100%;
}
.centered {
    margin: 0 auto !important;
    float: none !important;
}
#navbarNavAltMarkup > div {
	display: flex;
	margin-left: 23%;
    align-items: center;
}
#imagem-novidades {
	background-image: url('../images/novidades.jpg');
	padding-top: 200px;
    padding-bottom: 150px;
    width: 100%;
}
.nav-header {
    padding: 0px;
    border-bottom: 1px solid #e7e7e7;
}
#navbarNavAltMarkup > div > a {
	color: #777;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
	text-transform: uppercase;
	padding-bottom: 0px;
}
#imagem-novidades > h1 {
	text-align: center;
	font-size: 35px;
	color: #fff;
}
#logo-header {
	margin-left: 5%;
}
#navbarNavAltMarkup > div > a:not(#contratando):hover {
    color: #888!important;
    background-color: transparent;
    text-decoration: underline;
}
.header {
	position: fixed;
    z-index: 10;
}
.pesquisa > div, .pesquisa > div > input {
	width: 100%;
	border: 1px solid #ccc;
	height: 34px;
	color: #555;
	font-size: 15px;
	line-height: 1.42857143;
}
.box-imagem {
	background-image: url('../images/novidades/novidades-1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
	border-radius: 4px 4px 0px 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-bottom: 5px solid #16c5fe;
}
.twitter{
	height: 250px;
	overflow: auto;
	width: 100%;
}
.i1 {
	background-image: url('../images/novidades/novidades-1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 200px;
}
.i2 {
	background-image: url('../images/novidades/novidades-2.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 200px;
}
.i3 {
	background-image: url('../images/novidades/novidades-3.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 200px;
}
.i4 {
	background-image: url('../images/novidades/novidades-4.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 200px;
}
.ultimas h3 {
	color: #8c8c8c;
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
}
.ultimas p {
	color: #8c8c8c;
	font-size: 14px;
	line-height: 23px;
	font-weight: 600;
	margin-bottom: 22px;
	letter-spacing: -1px;
}
.p-img {
	color: #fff !important;
	font-size: 18px !important;
	padding: 12px 30px;
	width: 45%;
	background-color: #62d8fe;
	margin-bottom: 0px !important;
}
.sbm {
	margin-bottom: 0px !important;
	font-weight: 800 !important;
	font-size: 12px !important;
}
.u-floatLeft {
	float: left !important;
}
.u-floatRight {
	float: right !important;
}
.rodape-twitter {
	padding: 15px 15px 30px 15px;
	background-color: #fff;
	width: 100%;
}
.feed-twitter {
	padding-right: 0px;
    padding-left: 15px;
}
.footer {
	background-color: #1a1a1a;
}
.infos {
	width: 33%;
	padding-top: 20px;
}
.infos > img {
	display: block;
	width: 60%;
}
.infos > p, .instagram > h5 {
	color: #888;
	font-size: 16px;
	padding: 20px 0;
}
.grupo > h6 {
	color: #f9f9f9;
	text-align: center;
}
.final {
	padding: 40px 0px 60px 100px;
	display: flex;
}
.grupo {
	padding: 20px 0;
	background-color: #000;
}
.instagram > a > img {
	padding-right: 10px;
}
.infos > p {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 22px;
	text-align: left;
}
.final {
	background-color: #222;
}
/* box anteriores */
.box-anteriores:hover p {
	color: #62d8fe;
	transition: 0.1s;
}
.box-anteriores {
	height: 150px;
}
.anteriores {
	border-bottom: 1px solid black;
}
.princ {
	float: right;
	width: 70%;
	padding-left: 20px;
	font-weight: 500;
	font-size:23px;
	color: #8c8c8c;
	margin-bottom: 0px;
}
.sec {
	width: 70%;
	float: right;
	padding-left: 20px;
	display: block;
	font-weight: 500;
	font-size:14px;
	color: #8c8c8c;
}
.a-noticias:hover h3, .a-noticias:hover p {
	color: #62d8fe;
	transition: 0.1s;
}
.a-noticias:link, .a-anteriores:link {
	text-decoration: none;
}
.noticia {
	border-bottom: 1px solid #9e9898;
	margin-bottom: 40px;
}
.img-ant {
	width: 30%;
	height: auto;
}
.box-ant {
	float: left;
	border-bottom: none;
	height: 100px;
}
.ant-not > h3 {
	color: #8c8c8c;
	font-size: 22px;
	font-weight: 600;
	padding-left: 30%;
}
.ant-not > p {
	color: #8c8c8c;
	margin-left: auto;
    width: 70%;
    font-size: 13px;
    font-weight: 500;
}
.img-ant {
	float: left;
	width: 25%;
	height: 100px;
}
.a1 {
	background-image: url('../images/anteriores/ant-1.jpg');
	background-size: cover;
}
.a2 {
	background-image: url('../images/anteriores/ant-2.png');
	background-size: cover;
}
.a3 {
	background-image: url('../images/anteriores/ant-3.jpg');
	background-size: cover;
}
.a4 {
	background-image: url('../images/anteriores/ant-4.jpg');
	background-size: cover;
}
.a5 {
	background-image: url('../images/anteriores/ant-5.jpg');
	background-size: cover;
}
.a6 {
	background-image: url('../images/anteriores/ant-6.jpg');
	background-size: cover;
}
.a7 {
	background-image: url('../images/anteriores/ant-7.jpg');
	background-size: cover;
}
.a8 {
	background-image: url('../images/anteriores/ant-8.jpg');
	background-size: cover;
}
.a9 {
	background-image: url('../images/anteriores/ant-9.jpg');
	background-size: cover;
}
.a10 {
	background-image: url('../images/anteriores/ant-10.jpg');
	background-size: cover;
}
.col-ant {
	border-bottom: 1px solid black;
	margin-bottom: 40px;
}
@media (max-width: 1110px) {
	.last-box, .box-ant {
	margin-bottom: 80px;
	}
}
@media (max-width: 925px) {
	.last-box, .box-mid {
	margin-bottom: 100px;
	}
}
@media (max-width: 850px) {
	.last-box {
	margin-bottom: 120px;
	}
}
@media (max-width: 920px) {
		.infos {
		width: 40%;
	}
}
@media (max-width: 860px) {
		.infos {
		width: 50%;
	}
}
@media (max-width: 768px) {
	.final {
	flex-direction: column;
	}
	.infos {
		width: 100%;
	}
	#contratando {
		display: none;
	}
	.col-ant-1 {
	    border-bottom: none;
	    margin-bottom: 0px;
	}
	.box-ant {
		height: auto;
		margin-bottom: 10px;
	}
}
.ant-botoes {
	text-align: center;
}
.ant-botoes > ul > li {
	display: inline-block;
}
.ant-botoes > ul > button > a {
	color: #8c8c8c;
}
.ant-botoes > ul > button{
	background-color: #fff;
	border-color: #f3eaea;
}
.ant-botoes > ul > .btn-primary{
	background-color: #2975e0;

}
.ant-botoes > ul > .btn-primary > a{
	color: #fff;
}