body {
	width: 100%;
	font-family: Helvetica;
	font-size: 14px;
	background-color: #f9f9f9;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
    	"header header header"
    	"imagem imagem imagem"
    	"form form trabalhe-conosco"
   		"footer footer footer";
}
.header {
	width: 100%;
	grid-area: header;
	text-transform: uppercase;
	background-color: #f8f8f8;
	height: 91px;
	border: 1px solid #e7e7e7;
	position: fixed;
}
.header :not(img) {
	text-align: center;
}
.box:nth-child(1) > nav:nth-child(2) {
	float: right;
	margin-right: 100px;
}
.header li {
	color: #777;
	font-weight: 600;
}
.box:nth-child(1) > nav > ul {
	display: flex;
	align-items: center;
}
.box:nth-child(1) > nav > ul > li {
	margin-right: 15px;
	letter-spacing: -1px;
}
.imagem {
	grid-area: imagem;
	background-image: url('../images/imagem-top.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 300px;
}
.imagem > div > h2 {
	padding-top: 125px;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	color: white;
}
.form {
	grid-area: form;
	display: flex;
	padding-left: 50px;
	flex-direction: column;
}
.box > form > li {
	display: inline-block;
	width: 49%;
	padding-bottom: 10px;
}
.box > form > li > label {
	font-family: Proxima Nova;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 5px !important;
	color: #999;
}
.w100 {
	width: 100% !important;
}

.trabalhe-conosco {
	grid-area: trabalhe-conosco;
	border: 1px solid green;
}
.footer {
	grid-area:footer;
	margin-top: 50px;
	border:  1px solid black;
}
.box:nth-child(1) > a > img {
	margin-top: 25px;
	margin-left: 70px;
}
.form > div > h2 {
	color: #14c5fe;
	font-size: 50px;
	line-height: 35px;
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 30px;
}
.form, .trabalhe-conosco {
	margin-top: 50px;
}

.box > form > li > label > input, .box > form > li > label > select {
	display: block;
	width: 97%;
	height: 30px;
	font-size: 15px;
	color: #555;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	margin-top: 10px;
}
#mensagem {
	height: 100px;
}

#form-button {
	background-color: #07b5dd;
	padding: 15px 50px;
	color: #fff;
	font-size: 25px;
	background-image: none;
	border: 1px solid #ccc;
}
.trabalhe-conosco > div > h4 {
	font-family: Helvetica Neue Thin;
	font-size: 35px;
	color: #666;
	margin-top: 35px;
	padding-bottom: 45px;
	font-weight: 500;
	width: 100%;
}
.fb {

	background-image: url('../images/icons/facebook.png');
}
.tw {
	background-image: url('../images/icons/twitter.png');
}
.gg {
	background-image: url('../images/icons/google+.png');
}
.li {
	background-image: url('../images/icons/linkedin.png');
}
.icon {
	width: 50px;
	height: 50px;
	float: left;
	background-repeat: no-repeat;
}